@import "./colors.scss";
@import "./sizes.scss";
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html {
  font-size: 16px;
  color: #333;
}

body {
  font-family: "Inter";
}

span.invalid-feedback {
  display: inline;
}

// SLIDE
.slide-container {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 25px;

  .slide-navigator {
    top: 0;
    position: absolute;

    &.right {
      right: 0;
      margin-right: -50px;
    }

    &.left {
      left: 0;
      margin-left: -50px;
    }
  }

  .slider {
    width: 100%;
    overflow: hidden;

    .slide-items-container {
      display: flex;
      flex-grow: 0;
      width: 100%;
      margin-left: 0%;

      transition: margin-left 0.2s ease-in-out;
      -o-transition: margin-left 0.2s ease-in-out;
      -ms-transition: margin-left 0.2s ease-in-out;
      -moz-transition: margin-left 0.2s ease-in-out;
      -webkit-transition: margin-left 0.2s ease-in-out;

      .slide-item {
        display: block;
        float: left;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #eee;
      }
    }
  }
}

// CAROUSEL

.carousel {
  align-items: center;
}

// CAROUSEL BUTTON (JOB CATEGORIES)

.carousel-slide {
  padding-bottom: 15px;

  outline: none !important;
  * {
    outline: none !important;
  }

  .carousel-slide-item {
    & > div {
      padding: 0 5px;
    }
  }
}

.btn-carousel {
  padding-top: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  width: 100%;
  height: 100%;
  line-height: 18px;
  margin: auto;
  border: none;
  border: 1px solid #e0dfde;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
  transition: box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  -ms-transition: box-shadow 0.2s ease-in-out;
  -moz-transition: box-shadow 0.2s ease-in-out;
  -webkit-transition: box-shadow 0.2s ease-in-out;

  &:hover {
    color: #000;
    text-decoration: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
}

.btn-carousel-next {
  padding: 0;
  right: -35px;
  top: 30px;
  position: absolute;
}

.btn-carousel-back {
  padding: 0;
  left: -35px;
  top: 30px;
  position: absolute;
}

.btn-hidden {
  visibility: hidden;
}

// JOBCARD
.job-card {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  border: 1px solid #e0dfde;
  margin-bottom: 1rem;
  transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  -ms-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -webkit-transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: #f9f9f9;
  }

  &:hover {
    .job-card-job-title {
      color: #f94855;
    }
  }
}

.job-card-date {
  font-size: 14px;
  color: #757575;
}

.job-card-job-title {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 700;
  line-height: 1.5;
  color: #09f;
}

.btn-expand-description {
  padding: 0;
  display: flex;
  align-items: center;
  color: #f94855;
  position: relative;
  z-index: 100;
}

.job-card-job-description {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 16px;
}

.job-description {
  margin: 0;

  p {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

.job-card-link {
  bottom: 0px !important;
  left: 0px !important;
  position: absolute !important;
  right: 0px !important;
  top: 0px !important;
  display: block;
  z-index: 1;
}

// CUSTOMIZING BUTTON

.btn {
  border-radius: 0;
}

.btn-custom {
  color: #fff;
  background-color: transparent;
  border: 1px solid transparent;
  border-color: rgba(255, 255, 255, 0.5);
  padding: 0.375rem 1rem;
  border-radius: 2rem;

  &:hover {
    border-color: #fff;
    background-color: transparent;
  }
}

.btn-success {
  color: #fff;
  background-color: #8cb900;
  border-color: #8cb900;

  &:hover {
    color: #fff;
    background-color: #7ea700;
    border-color: #7ea700;
  }
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #fff !important;
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  padding: 0;
}

.bg-dark {
  background-color: #222 !important;
}

// HEADER SEARCH INPUT
.header-search-input {
  width: 250px !important;
  padding-left: 2.5rem;
  border-radius: 0;
  background-clip: unset;
}

.header-search-select {
  width: 150px !important;
  border-radius: 0;
  background-clip: unset;
}

.header-search-icon {
  color: #222;
  position: absolute;
  z-index: 100;
  top: 11px;
  left: 10px;
}

.btn-search-job {
  padding: 0.375rem 1.5rem;
  background-color: #0f8fee;
  border: 0;
  border-radius: 0;

  &:hover {
    background-color: #0c72be;
  }
}

// NAVBAR

.navbar {
  padding: 1rem 1rem;
}

// JOBS FILTER

.jobs-filter {
  padding: 1rem;
  background-color: #f9f9f9;
}

.form-control {
  border-radius: 0;
}

.filter-location {
  display: flex;
}

.filter-location-radius {
  width: 50%;
  border-left: hidden;
}

.search-area-label {
  font-weight: 500;
}

.category-label {
  font-weight: 500;
}

.search-area {
  margin-bottom: 2rem;
}

//

.jobs-feed-page {
  margin-top: 2rem;
}

//
.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

// HR VACANCY ADDING PAGE

.form-container {
  width: 42rem;
  padding: 5rem;
}

.new-vacancy-textarea {
  resize: none;
  height: 120px;
  min-height: 120px;
  max-height: 120px;
}

.job-page-breadcrumb {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #e9ecef;
  padding: 0.5rem 1rem;
  display: inline-block;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

// JOB BADGES

.badge {
  border-radius: 0;
  line-height: unset;
  &.purple {
    background-color: #cc3d86;
    border: 1px solid #cc3d86;
  }

  &.blue-chill {
    background-color: #148c96;
    border: 1px solid #148c96;
  }

  &.orange {
    background-color: #b65b25;
    border: 1px solid #b65b25;
  }

  &.green {
    background-color: #67a85a;
    border: 1px solid #67a85a;
  }
}

// JOB PAGE

.date-and-view {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  svg {
    color: #6c757d;
  }
}

.job-location-address {
  font-weight: 600;
  color: #6c757d;

  p {
    font-weight: 400;
    color: #222;
  }
}

.employer-details {
  font-weight: 600;
  color: #6c757d;

  p {
    font-size: $smallTxt;
    font-weight: 400;
    color: #222;

    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 100%;

      &[status="false"] {
        background-color: $gray;
      }

      &[status="true"] {
        background-color: $green;
      }
    }
  }
}

// POPULAR JOB TITLES

.popular-job-titles {
}

// BREADCRUMB
.breadcrumb {
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  padding: 0;
  padding-top: 10px;
  margin-bottom: 2rem;
}

.breadcrumb-item {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
}

// LOGIN & REGISTER MODAL

.login-modal {
  color: #333;
  padding: 2rem;
  padding-top: 0;
}

.register-modal {
  color: #333;
  padding: 2rem;
  padding-top: 0;
}

.modal-header {
  align-items: center;
  padding: 0rem 2rem;
  padding-top: 1.5rem;
  border-bottom: 0;

  h3 {
    margin: 0;
  }
}

.auth-link {
  display: flex;

  p {
    padding: 0;
    margin: 0;
  }

  button {
    padding: 0;
    vertical-align: unset;
  }
}

.modal-header .close {
  padding: 0;
  margin: 0;
}

// PROFILE PAGE

.profile-page {
  table td {
    vertical-align: middle;
  }

  table button {
    padding: 0;
  }
}

.profile-settings {
  .profile-edit-table {
    background-color: #f9f9f9;
  }
  .row {
    align-items: center;
    border-bottom: 1px solid #e7e7e7;

    &:last-child {
      border-bottom: 0;
    }
    .col {
      padding: 0.5rem;
    }
  }
}

// DRAFT JS
.public-DraftEditor-content {
  min-height: 100px;
}

.public-DraftEditor-content,
.public-DraftEditorPlaceholder-root {
  margin: 0 -15px -15px;
  padding: 15px;
}

.editor-container {
  background: #fff;
  border: 1px solid #ddd;
  font-family: Georgia, serif;
  font-size: 14px;
  padding: 15px;

  .editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
  }
}

.editor-controls {
  font-size: 14px;
  margin-bottom: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  span {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }
}
